.glyphicon{
  font-weight: bold;

}
.glyphicon-star {
  color:#ee9a00;
}

.glyphicon-star-empty{
 color: #ddd;
}
.actionBox .form-group * {
  width:100%;
}
.taskDescription {
  margin-top:10px;
}
.commentList {
  padding:0;
  list-style:none;
  max-height:200px;
  overflow:auto;
}
.commentList li {
  margin:0;
  margin-top:10px;
  text-align: left;
}
.commentList li > div {
  display:table-cell;
}
.commenterImage {
  width:30px;
  margin-right:5px;
  height:100%;
  float:left;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.commentText p {
  margin:0;
  cursor: default;
}
.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}
.actionBox {
  border-top:1px dotted #bbb;
  padding:10px;
}
#star_rating{
  font-size: 18px;
}
.comment_textarea{
  margin-right: 5px;
}
textarea {
  resize: none;
  margin-right: 5px !important;
}
.jk-rating-stars-container{

}
.star_rating_n_post >.jk-rating-stars-container{
  display: inline-table !important;
  vertical-align: middle !important;
}
.star_rating_n_post{
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}
.star_rating_n_post > .jk-rating-stars-container .star-button.star-off .material-icons {
  font-size: 20px !important;
}
.star_rating_n_post > .jk-rating-stars-container .button .material-icons{
  font-size: 20px !important;
}


.mdImage{
  height: 315px;
  width: 205px;
}
.scorePanel {
  margin: 0;
}
.scorePanel>h3 {
  line-height: 17px;
  color: #787878;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.movieTopic{
  text-align: left;
  font-weight: bolder;
  padding: 0;
  color: #787889;
}
.movieDetails{
  text-align: left;
}
.movieDes{
  text-align: justify;
}
#tomatoImage{
  height: 48px;
}
.tomatoMeterText{
  color: #787878;
  text-align: left;
  font-size: 12px;
}
.tomatoMeterTextResults{
  color: #333;
}
.tomatoMeterPercentage{
  font-weight: bolder;
  font-size: 36px;
  color: #333;
  vertical-align: middle;
}
.rottenTomatoesInfo{
  background-color: #FEF7CD;
}
.criticsConcensusInfo{
  color: #333;
}
.criticsConcensus{
  color: #787878;
  text-align: left;
  font-size: 12px;
}
.movieTitle{
  text-align: left;
}
#marginRight{
  padding: 0;
  border-right: thin inset #787878;
  border-right-width: 1px;
  padding-right: 5px;
}
.shiftRight{
  text-align: right;
}
.criticsHead>a{
  color: #333;
  font-size: 12px;
}
a.criticsLink:hover {
  color: #0C89CA;
  cursor: pointer;
}
a.criticsLinkTextBold{
  font-weight: bold;
}
.progress-bar{
  background-color: #C91B22;
}
#audienceImage{
  height: 48px;
}
.audiencePoint{
  text-align: left;
}
#showtime, #cast{
  background-color: #8ec9d8;
  font-size: 20px;
  color: white;
  font-family: Arial, sans-serif;
  text-shadow: 3px 4px 5px rgba(0,0,0,.75);
}
.showtimeRow1{
  background-color: #8ec9d8;
  font-size: 15px;
  color: black;
  font-family: Arial, sans-serif;
}
.showtimeRow2{
  font-size: 15px;
  color: black;
  font-family: Arial, sans-serif;
}
.castsImage > img{
  height: 60px;
  width: 50px;
}
.castsImage{
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  width: auto;
}
.casts{
  text-align: left;
}
.castCharacter{
  font-size: 10px;
  color: #787878;
}
.ngShowAllText{
  text-align: left;
}
.cursor4ShowAll{
  color: black;
  cursor: pointer;
}
.tickTrailerSocial{
  width: 250px;
  background-color: #8ec9d8;
  font-size: 25px;
  margin-bottom: 20px;
  color: white;
  box-shadow: 3px 4px 5px rgba(0,0,0,.75);
  cursor: pointer;
}
.rightPage{
  margin-top: 40px;
}
.shareSocial{
  height: 30px;
  cursor: pointer;
}
.btn:focus {
  outline: none;
  background-color: #8ec9d8;
}
.modalClose{
  color: white;
}
.moveCrossRight{
  text-align: right;
}
.lightGray{
  color: #EEEEEE;
  font-size: 25px;
  cursor: pointer;
}
.kim_sex_nudity{
  width: 151px;
  height: 41px;
}
.kim_violence_gore{
  width: 151px;
  height: 32px;
}
.kim_profanity{
  width: 151px;
  height: 37px;
}
.kim_one2ten{
  width: 151px;
  height: 22px;
}

