<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a href="#" data-target-id="home"><i class="fa fa-home fa-fw"></i>Main Settings</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="widgets"><i class="fa fa-list-alt fa-fw"></i>Currently Playing</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="pages"><i class="fa fa-file-o fa-fw"></i>Coming Soon</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="charts"><i class="fa fa-bar-chart-o fa-fw"></i>Contact Settings</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="table"><i class="fa fa-table fa-fw"></i>Location Settings</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="forms"><i class="fa fa-tasks fa-fw"></i>Prices</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="calender"><i class="fa fa-calendar fa-fw"></i>Reports</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="library"><i class="fa fa-book fa-fw"></i>Future Use</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="applications"><i class="fa fa-pencil fa-fw"></i>Future Use</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="settings"><i class="fa fa-cogs fa-fw"></i>Future Use</a></li>
            </ul>
        </div>
        <div class="col-md-9 well admin-content" id="home">
            <p>Main Settings Here</p>
            <form name="form1" method="post" action="">
                <p>
                    <label for="SiteName">Website Name:</label>
                    <input name="SiteName" type="text" id="SiteName" value="Huntsville Cinestar Theatre" size="50">
                </p>
                <p>
                    <label for="WebLink">Website Address:</label>
                    <input name="WebLink" type="text" id="WebLink" value="http://www.cinestar.affpc.com" size="50">
                </p>
                <p>
                    <label for="screencount">Number of Screens:</label>
                    <select name="screencount" size="1" id="screencount">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </p>
                <p>
                    <label for="CurrentTime">CurrentTime:</label>
                    <input type="text" name="CurrentTime" id="CurrentTime">
                </p>
                <p>
                    <label for="TimeZone">TimeZone:</label>
                    <select name="TimeZone" id="TimeZone">
                    </select>
                </p>
                <p>---------------------------------------------------------</p>
                <p><strong>Auto Play Time Configs:</strong> Start Time + Movie Run Time + Commerical Time + Clean Time = Next Start Time (rounded up to top of hour or 15 , 30 or 45 after)</p>
                <table width="100%" border="0">
                    <tr>
                        <td>&nbsp;</td>
                        <td align="center">Mon</td>
                        <td align="center">Tues</td>
                        <td align="center">Wed</td>
                        <td align="center">Thur</td>
                        <td align="center">Fri</td>
                        <td align="center">Sat</td>
                        <td align="center">Sun</td>
                    </tr>
                    <tr>
                        <td>Start Time:</td>
                        <td align="center"><label for="MondayStart"></label>
                            <input name="MondayStart" type="text" id="MondayStart" value="10:00 AM" size="8"></td>
                        <td align="center"><label for="TuesdayStart"></label>
                            <input name="TuesdayStart" type="text" id="TuesdayStart" value="10:00 AM" size="8"></td>
                        <td align="center"><label for="WednesdayStart"></label>
                            <input name="WednesdayStart" type="text" id="WednesdayStart" value="10:00 AM" size="8"></td>
                        <td align="center"><label for="ThursdayStart"></label>
                            <input name="ThursdayStart" type="text" id="ThursdayStart" value="10:00 AM" size="8"></td>
                        <td align="center"><label for="FridayStart"></label>
                            <input name="FridayStart" type="text" id="FridayStart" value="10:00 AM" size="8"></td>
                        <td align="center"><label for="SaturdayStart"></label>
                            <input name="SaturdayStart" type="text" id="SaturdayStart" value="10:00 AM" size="8"></td>
                        <td align="center"><label for="SundayStart"></label>
                            <input name="SundayStart" type="text" id="SundayStart" value="10:00 AM" size="8"></td>
                    </tr>
                    <tr>
                        <td>End Time:</td>
                        <td align="center"><label for="MondayEnd"></label>
                            <input name="MondayEnd" type="text" id="MondayEnd" value="10:00 PM" size="8"></td>
                        <td align="center"><label for="MondayEnd"></label>
                            <input name="MondayEnd" type="text" id="MondayEnd" value="10:00 PM" size="8"></td>
                        <td align="center"><label for="MondayEnd"></label>
                            <input name="MondayEnd" type="text" id="MondayEnd" value="10:00 PM" size="8"></td>
                        <td align="center"><label for="MondayEnd"></label>
                            <input name="MondayEnd" type="text" id="MondayEnd" value="10:00 PM" size="8"></td>
                        <td align="center"><label for="MondayEnd"></label>
                            <input name="MondayEnd" type="text" id="MondayEnd" value="10:00 PM" size="8"></td>
                        <td align="center"><label for="MondayEnd"></label>
                            <input name="MondayEnd" type="text" id="MondayEnd" value="10:00 PM" size="8"></td>
                        <td align="center"><label for="MondayEnd"></label>
                            <input name="MondayEnd" type="text" id="MondayEnd" value="10:00 PM" size="8"></td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                <p>
                    <label for="CommericalTime">Commerical Time:</label>
                    <input name="CommericalTime" type="text" id="CommericalTime" value="25 minutes">
                </p>
                <p>
                    <label for="CleanTime">Clean Time:</label>
                    <input name="CleanTime" type="text" id="CleanTime" value="45 minutes">
                </p>
                <p>-----------------------------------------------------------</p>
                <p>
                    <input type="submit" name="Save" id="Save" value="Save">
                </p>
                <p>&nbsp;</p>

            </form>
            <p>&nbsp;</p>
        </div>
        <div class="col-md-9 well admin-content" id="widgets">
            Currently Playing Here
            <div>
                <button ng-click="addMovie()">Add movie</button>
                <button ng-click="removeMovie()">Remove movie</button>
            </div>
            <style type="text/css">
                .playdays {
                    font-size: 9px;
                }
            </style>
            <table width="100%" border="0">
                <tr>
                    <td><table width="100%" border="1">
                        <tr>
                            <td><table width="100%" border="0">
                                <tr>
                                    <td align="center" bgcolor="#CCCCCC">Poster</td>
                                    <td align="center" bgcolor="#CCCCCC">Title</td>
                                    <td align="center" bgcolor="#CCCCCC">Length</td>
                                    <td align="center" bgcolor="#CCCCCC">Screen #</td>
                                    <td align="center" bgcolor="#CCCCCC">2D/3D</td>
                                    <td bgcolor="#CCCCCC"> </td>

                                </tr>
                                <tr>
                                    <td align="center"><img src="http://cinestar.affpc.com/images/nowShowing/inVq3FRqcYIRl2la8iZikYYxFNR.jpg" width="122" height="183"></td>
                                    <td align="center">Deadpool (2016)</td>
                                    <td align="center">1 hr.48 min</td>
                                    <td align="center">1</td>
                                    <td align="center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTAzinjLWPltwH-uOnnx5I52yTt0N25ni2RX6s70GfWyW8WbRU" width="65" height="55"></td>
                                    <td align="center"><a href="#">Add</a> | <a href="#">Remove</a> | <a href="#">Edit</a></td>

                                </tr>
                            </table></td>
                        </tr>
                        <tr>
                            <td><table width="100%" border="0">
                                <tr class="playdays">
                                    <td align="center" bgcolor="#CCCCCC">Monday</td>
                                    <td align="center" bgcolor="#CCCCCC">Tuesday</td>
                                    <td align="center" bgcolor="#CCCCCC">Wednesday</td>
                                    <td align="center" bgcolor="#CCCCCC">Thursday</td>
                                    <td align="center" bgcolor="#CCCCCC">Friday</td>
                                    <td align="center" bgcolor="#CCCCCC">Saturday</td>
                                    <td align="center" bgcolor="#CCCCCC">Sunday</td>
                                </tr>
                                <tr class="playdays">
                                    <td align="center" valign="top"><p>2:00PM</p>
                                        <p>4:00PM</p>
                                        <p>6:00PM</p>
                                        <p>8:00PM</p>
                                        <p>10:00PM</p></td>
                                    <td align="center" valign="top"><p>2:00PM</p>
                                        <p>4:00PM</p>
                                        <p>6:00PM</p>
                                        <p>8:00PM</p>
                                        <p>10:00PM</p></td>
                                    <td align="center" valign="top"><p>2:00PM</p>
                                        <p>4:00PM</p>
                                        <p>6:00PM</p>
                                        <p>8:00PM</p>
                                        <p>10:00PM</p></td>
                                    <td align="center" valign="top"><p>2:00PM</p>
                                        <p>4:00PM</p>
                                        <p>6:00PM</p>
                                        <p>8:00PM</p>
                                        <p>10:00PM</p></td>
                                    <td align="center" valign="top"><p>12:00PM</p>
                                        <p>2:00PM</p>
                                        <p>4:00PM</p>
                                        <p>6:00PM</p>
                                        <p>8:00PM</p>
                                        <p>10:00PM</p>
                                        <p>12:00AM</p></td>
                                    <td align="center" valign="top"><p>12:00PM</p>
                                        <p>2:00PM</p>
                                        <p>4:00PM</p>
                                        <p>6:00PM</p>
                                        <p>8:00PM</p>
                                        <p>10:00PM</p>
                                        <p>12:00AM</p></td>
                                    <td align="center" valign="top"><p>2:00PM</p>
                                        <p>4:00PM</p>
                                        <p>6:00PM</p>
                                        <p>8:00PM</p>
                                        <p>10:00PM</p></td>
                                </tr>
                            </table></td>
                        </tr>
                    </table></td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="1">
                            <tr>
                                <td><table width="100%" border="0">
                                    <tr>
                                        <td align="center" bgcolor="#CCCCCC">Poster</td>
                                        <td align="center" bgcolor="#CCCCCC">Title</td>
                                        <td align="center" bgcolor="#CCCCCC">Length</td>
                                        <td align="center" bgcolor="#CCCCCC">Screen #</td>
                                        <td align="center" bgcolor="#CCCCCC">2D/3D</td>
                                        <td bgcolor="#CCCCCC"> </td>

                                    </tr>
                                    <tr>
                                        <td align="center"><img src="http://cinestar.affpc.com/images/nowShowing/inVq3FRqcYIRl2la8iZikYYxFNR.jpg" width="122" height="183"></td>
                                        <td align="center">Deadpool (2016)</td>
                                        <td align="center">1 hr.48 min</td>
                                        <td align="center">2</td>
                                        <td align="center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK6YklnklaUUUypW-9SQwFJUmyjOmiPVk1vYB02lSmgNzq2FQ6" alt="" width="65" height="55"></td>
                                        <td align="center"><a href="#">Add</a> | <a href="#">Remove</a> | <a href="#">Edit</a></td>

                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                                <td><table width="100%" border="0">
                                    <tr class="playdays">
                                        <td align="center" bgcolor="#CCCCCC">Monday</td>
                                        <td align="center" bgcolor="#CCCCCC">Tuesday</td>
                                        <td align="center" bgcolor="#CCCCCC">Wednesday</td>
                                        <td align="center" bgcolor="#CCCCCC">Thursday</td>
                                        <td align="center" bgcolor="#CCCCCC">Friday</td>
                                        <td align="center" bgcolor="#CCCCCC">Saturday</td>
                                        <td align="center" bgcolor="#CCCCCC">Sunday</td>
                                    </tr>
                                    <tr class="playdays">
                                        <td align="center" valign="top"><p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p></td>
                                        <td align="center" valign="top"><p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p></td>
                                        <td align="center" valign="top"><p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p></td>
                                        <td align="center" valign="top"><p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p></td>
                                        <td align="center" valign="top"><p>12:00PM</p>
                                            <p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p>
                                            <p>12:00AM</p></td>
                                        <td align="center" valign="top"><p>12:00PM</p>
                                            <p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p>
                                            <p>12:00AM</p></td>
                                        <td align="center" valign="top"><p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p></td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="1">
                            <tr>
                                <td><table width="100%" border="0">
                                    <tr>
                                        <td align="center" bgcolor="#CCCCCC">Poster</td>
                                        <td align="center" bgcolor="#CCCCCC">Title</td>
                                        <td align="center" bgcolor="#CCCCCC">Length</td>
                                        <td align="center" bgcolor="#CCCCCC">Screen #</td>
                                        <td align="center" bgcolor="#CCCCCC">2D/3D</td>
                                        <td bgcolor="#CCCCCC"> </td>

                                    </tr>
                                    <tr>
                                        <td align="center"><img src="http://cinestar.affpc.com/images/nowShowing/sM33SANp9z6rXW8Itn7NnG1GOEs.jpg" width="122" height="183"></td>
                                        <td align="center">Zootopia (2016)</td>
                                        <td align="center">1 hr.48 min</td>
                                        <td align="center">3</td>
                                        <td align="center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTAzinjLWPltwH-uOnnx5I52yTt0N25ni2RX6s70GfWyW8WbRU" alt="" width="65" height="55"></td>
                                        <td align="center"><a href="#">Add</a> | <a href="#">Remove</a> | <a href="#">Edit</a></td>

                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                                <td><table width="100%" border="0">
                                    <tr class="playdays">
                                        <td align="center" bgcolor="#CCCCCC">Monday</td>
                                        <td align="center" bgcolor="#CCCCCC">Tuesday</td>
                                        <td align="center" bgcolor="#CCCCCC">Wednesday</td>
                                        <td align="center" bgcolor="#CCCCCC">Thursday</td>
                                        <td align="center" bgcolor="#CCCCCC">Friday</td>
                                        <td align="center" bgcolor="#CCCCCC">Saturday</td>
                                        <td align="center" bgcolor="#CCCCCC">Sunday</td>
                                    </tr>
                                    <tr class="playdays">
                                        <td align="center" valign="top"><p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p></td>
                                        <td align="center" valign="top"><p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>

                                            <p>10:00PM</p></td>
                                        <td align="center" valign="top"><p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p></td>
                                        <td align="center" valign="top"><p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p></td>
                                        <td align="center" valign="top"><p>12:00PM</p>
                                            <p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p>
                                            <p>12:00AM</p></td>
                                        <td align="center" valign="top"><p>12:00PM</p>
                                            <p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p>
                                            <p>12:00AM</p></td>
                                        <td align="center" valign="top"><p>2:00PM</p>
                                            <p>4:00PM</p>
                                            <p>6:00PM</p>
                                            <p>8:00PM</p>
                                            <p>10:00PM</p></td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>


        </div>
        <div class="col-md-8 well admin-content"  id="pages">
            <div>
                <p>Coming Soon Here</p>
            </div>
            <div class="col-md-12 coming_soon_menu">
                <div class="col-md-4"><h4 align="center">Poster</h4></div>
                <div class="col-md-2"><h4 align="center">Movie Name</h4></div>
                <div class="col-md-2"><h4 align="center">Duration</h4></div>
                <div class="col-md-2"><h4 align="center">Release Date</h4></div>
                <div class="col-md-2"><h4 align="center">Actions</h4></div>
            </div>
            <br>
            <div class="col-md-12 coming_soon_movies" ng-model="upcomingMovies" ng-repeat="adminUpcoming in upcomingMovies">
                <div class="col-md-4 adminUpcoming" >
                    <img ng-src="{{adminUpcoming.upPosterPath}}">
                </div>
                <div class="col-md-2">{{adminUpcoming.upMovieName}}</div>
                <div class="col-md-2"><h4 align="center">Duration</h4></div>
                <div class="col-md-2">{{adminUpcoming.upReleaseDate}}</div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success" ng-click="admin_upMovieDelete(adminUpcoming.upMovieId, $index)">Delete</button>
                    <button type="button" class="btn btn-success">Add to Screen</button>
                </div>
            </div>
        </div>

        <div class="col-md-9 well admin-content" id="charts">Contact Settings Here</div>
        <div class="col-md-9 well admin-content" id="table">
            Location Settings Here
        </div>
        <div class="col-md-9 well admin-content" id="forms">
            Price Settings Here
        </div>
        <div class="col-md-9 well admin-content" id="calender">
            Reports Here
        </div>
        <div class="col-md-9 well admin-content" id="library">Future Use</div>
        <div class="col-md-9 well admin-content" id="applications">Future Use</div>
        <div class="col-md-9 well admin-content" id="settings">Future Use</div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        var navItems = $('.admin-menu li > a');
        var navListItems = $('.admin-menu li');
        var allWells = $('.admin-content');
        var allWellsExceptFirst = $('.admin-content:not(:first)');

        allWellsExceptFirst.hide();
        navItems.click(function(e)
        {
            e.preventDefault();
            navListItems.removeClass('active');
            $(this).closest('li').addClass('active');

            allWells.hide();
            var target = $(this).attr('data-target-id');
            $('#' + target).show();
        });
    });
</script>
<style type="text/css">
    .coming_soon_menu{
        background-color: #5f5f5f;
        color: white;
        border-bottom-style: solid;
        border-color: white;
    }
    .coming_soon_movies{
        background-color: black;
        color: ghostwhite;
        border-bottom-style: solid;
        border-color: white;
    }
    .coming_soon_movies>.adminUpcoming>img{
        width: 160px;
        height: 230px;
    }
</style>
