<div class="row">
    <div class="col-md-6">
        <h4>Location Details</h4>
        <p><b>Theatre Name: </b>{{locationDetails.locationTheatreName}}</p>
        <p><b>Theatre Address: </b>{{locationDetails.locationPhysicalAddress}}</p>
        <p><b>Theatre Mailing Address: </b>{{locationDetails.locationMailingAddress}}</p>
    </div>
    <div class="col-md-6">
        <h4>Contact Details</h4>
        <p><b>Contact Person: </b>{{contactDetails.contactName}}</p>
        <p><b>Contact Email : </b>{{contactDetails.contactEmail}}</p>
        <p><b>Contact Phone: </b>{{contactDetails.contactPhone}}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a href={{'https://'+socialDetails.socialFacebook}} target="_blank">Click to Visit Our Facebook Page</a>
    </div>
    <div class="col-md-6">
        <a href={{'https://'+socialDetails.socialTwitter}} target="_blank">Click to Visit Our Twitter Page</a>
    </div>
</div>
