<!--<div class="footer" ng-controller="FooterCtrl">-->
    <!--<div class="container">-->
        <!--<div class="col-md-12">-->
            <!--<div class="row">-->
                <!--<div class="col-md-2 cinestar_logo">-->
                    <!--<img ng-src="{{siteConfig.localImagePath + '/images/newLogo.png'}}" width="100px">-->
                <!--</div> &lt;!&ndash; end col-md-2 &ndash;&gt;-->
                <!--<div class="col-md-7" id="bottom-list">-->
                    <!--&lt;!&ndash;<ul class="list-inline">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#/">Movies</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a ng-href="#/about">Promotions</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a ng-href="#/">Contact</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a ng-href="#/">Location</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--<p>&copy; &nbsp;{{currentYear}}&nbsp;Cinestar Cinema</p>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<ul class="list-inline" id="right-menu-bottom">-->
                        <!--&lt;!&ndash;<li><a ng-href="#"><img ng-src="{{siteConfig.localImagePath + 'images/twitter.png'}}"></a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a ng-href="#"><img ng-src="{{siteConfig.localImagePath + 'images/facebook.png'}}"></a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</div> &lt;!&ndash; end col-md-5 &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
