<div class=row" ng-controller="MainCtrl">
    <div class="col-md-12" id="main_view">
        <div class="row">
            <div class="container">
                <div class="col-md-1" id="top-angle-left">
                    <p><a ng-href=""><i class="fa fa-angle-left fa-3x "></i></a></p>
                </div>
                <div class="col-md-10">
                    <!--<h1><img src="../images/Now_Showing.png"></h1>-->

                    <div class="col-md-4" id="left_banner_now_showing"></div>
                    <div class="col-md-4" id="now_showing_text">NOW SHOWING</div>
                    <div class="col-md-4" id="right_banner_now_showing"></div>
                </div>
                <div class="col-md-1" id="top-angle-right">
                    <p><i class="fa fa-angle-right fa-3x "></i></p>
                </div>
            </div>
            <div class="container" id="show_list">
                <div class="col-md-3 container list_now_showing" ng-repeat="mvs in movieNowShowing">
                    <div class="wrap_all">
                        <img class="images" ng-src="{{mvs.image}}" >
                        <div class="all_timings">
                            <div class="list-show-none">
                                <span ng-repeat="list_show in mvs.list_show_none">{{list_show}}</span>
                            </div>
                            <div class="list-show-3d">
                                <span><img ng-src="{{mvs.list_show_3d_image}}"> </span>
                                <span ng-repeat="list_show in mvs.list_show_3d">{{list_show}}</span>
                            </div>
                            <div class="list-show-2d">
                                <!--<img ng-src="">-->
                                <span><img ng-src="{{mvs.list_show_2d_image}}"></span>
                                <span ng-repeat="list_show in mvs.list_show_2d">{{list_show}}</span>
                            </div>
                        </div>
                        <add-to-cart class="align_add_to_cart show-cart"></add-to-cart>
                    </div>
                </div>
            </div>
        </div>

        <div class="row coming-soon">
            <div class="container coming-soon">
                <div class="col-md-12">
                    <div class="col-md-5" id="bottom-angle-left">
                        <p><i class="fa fa-angle-left fa-3x "></i></p>
                    </div>
                    <div class="col-md-2">
                        <h1 id="coming_soon_text">Coming Soon</h1>
                    </div>
                    <div class="col-md-5" id="bottom-angle-right">
                        <p><i class="fa fa-angle-right fa-3x "></i></p>
                    </div>
                </div>
            </div>
            <div class="container" id="coming-soon">
                <div class="col-md-3" id="list_coming_soon" ng-repeat="mcs in movieComingSoon">
                    <div class="parent">
                        <div class="imagewrap">
                            <div class="date_month">
                                <h1 class="coming_soon_date">{{mcs.date}}</h1>
                                <h1 class="coming_soon_month">{{mcs.month}}</h1>
                            </div>
                            <img class="coming_soon_circle" src="../images/circle.png">
                        </div>
                        <img class="coming_soon_images" ng-src="{{mcs.image}}">
                    </div>
                    <!--<li>-->
                        <!--<div class="parent">-->
                            <!--<div class="imagewrap">-->
                                <!--<div class="date_month">-->
                                    <!--<h1 class="coming_soon_date">23</h1>-->
                                    <!--<h1 class="coming_soon_month">September</h1>-->
                                <!--</div>-->
                                <!--<img class="coming_soon_circle" src="../images/circle.png">-->
                            <!--</div>-->
                            <!--<img class="coming_soon_images" src="../images/cs3.png">-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="parent">-->
                            <!--<div class="imagewrap">-->
                                <!--<div class="date_month">-->
                                    <!--<h1 class="coming_soon_date">21</h1>-->
                                    <!--<h1 class="coming_soon_month">June</h1>-->
                                <!--</div>-->
                                <!--<img class="coming_soon_circle" src="../images/circle.png">-->
                            <!--</div>-->
                            <!--<img class="coming_soon_images" src="../images/cs4.png">-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="parent">-->
                            <!--<div class="imagewrap">-->
                                <!--<div class="date_month">-->
                                    <!--<h1 class="coming_soon_date">14</h1>-->
                                    <!--<h1 class="coming_soon_month">April</h1>-->
                                <!--</div>-->
                                <!--<img class="coming_soon_circle" src="../images/circle.png">-->
                            <!--</div>-->
                            <!--<img class="coming_soon_images" src="../images/cs5.png">-->
                        <!--</div>-->
                    <!--</li>-->

                </div>
            </div>
        </div>
    </div>
</div>

