<div class="row" data-ng-cloak>
    <div class="container">
        <div class="col-md-8" data-ng-model="displayMovieDetails" ng-cloak>
            <!--<p>Hello {{movieTomato}}</p>-->
            <div class="container">
                <div class="col-md-4">
                    <br>
                    <img ng-src={{displayMovieDetails.infoMoviePosterPath}} class="mdImage">
                </div>
                <div class="col-md-8" data-ng-model="displayTomatoData">
                    <div class="movieTitle"><h1>{{displayTomatoData.movieTitle}} ({{displayMovieDetails.releaseYear}})</h1></div>
                    <br>
                    <div class="rottenTomatoesInfo col-md-12">
                        <div class="col-md-4 scorePanel" ng-model="tomatoMeter">
                            <h3>TOMATOMETER</h3>
                            <div class="tomatoMeterText">
                                <img id="tomatoImage" ng-src="{{tomatoMeter.tomatoImage}}">
                                <span class="tomatoMeterPercentage">{{tomatoMeter.tomatometer}}%</span>
                            </div>
                            <br>
                            <div class="tomatoMeterText">Average Rating:
                                <span class="tomatoMeterTextResults">{{tomatoMeter.averageRating}}</span>
                            </div>
                            <div class="tomatoMeterText">Reviews Counted:
                                <span class="tomatoMeterTextResults">{{tomatoMeter.reviewCount}}</span>
                            </div>
                            <div class="tomatoMeterText">Fresh:
                                <span class="tomatoMeterTextResults">{{tomatoMeter.freshCount}}</span>
                            </div>
                            <div class="tomatoMeterText">Rotten:
                                <span class="tomatoMeterTextResults">{{tomatoMeter.rottenCount}}</span>
                            </div>
                        </div>
                        <div class="col-md-4 scorePanel" id="marginRight">
                            <br>
                            <div class="shiftRight">
                                <span class="criticsHead"><a class="{{allBoldOrNormal}}" ng-click="click('all')">All Critics</a></span>
                                <span class="criticsHead">|</span>
                                <span class="criticsHead"><a class="{{topBoldOrNormal}}" ng-click="click('top')">Top Critics</a></span>
                            </div>
                            <br>
                            <!--Progress Bar-->
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:0"></div>
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{tomatoMeter.tomatometer}}" aria-valuemin="0" aria-valuemax="100" style="width: {{tomatoMeter.tomatometer}}%">
                                </div>
                            </div>
                            <p class="criticsConcensus">Critics Consensus:<span class="criticsConcensusInfo">{{tomatoMeter.criticsConsensus}}</span></p>
                        </div>
                        <div class="col-md-4 scorePanel" ng-model="audienceScore">
                            <h3>AUDIENCE SCORE</h3>
                            <div class="audiencePoint">
                                <img id="audienceImage" ng-src="{{audienceScore.audienceImage}}">
                                <span class="tomatoMeterPercentage">{{audienceScore.tomatometer}}%</span>
                            </div>
                            <br>
                            <div class="tomatoMeterText">Average Rating:
                                <span class="tomatoMeterTextResults">{{audienceScore.averageRating}}</span>
                            </div>
                            <div class="tomatoMeterText">User Rating:
                                <span class="tomatoMeterTextResults">{{audienceScore.ratingCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container" ng-model="displayMovieDetails">
                <div class="col-md-4">
                    <p id="showtime">Showtimes</p>
                    <div class="col-md-4 showtimeRow2">Timing</div>
                    <div class="col-md-4 showtimeRow2">Adults</div>
                    <div class="col-md-4 showtimeRow2">Kids</div>

                    <div class="col-md-4 showtimeRow1">Timing</div>
                    <div class="col-md-4 showtimeRow1">Adults</div>
                    <div class="col-md-4 showtimeRow1">Kids</div>

                    <div class="col-md-4 showtimeRow2">Timing</div>
                    <div class="col-md-4 showtimeRow2">Adults</div>
                    <div class="col-md-4 showtimeRow2">Kids</div>

                    <div class="col-md-4 showtimeRow1">Timing</div>
                    <div class="col-md-4 showtimeRow1">Adults</div>
                    <div class="col-md-4 showtimeRow1">Kids</div>

                    <div class="col-md-4 showtimeRow2">Timing</div>
                    <div class="col-md-4 showtimeRow2">Adults</div>
                    <div class="col-md-4 showtimeRow2">Kids</div>
                    <div class="col-md-4 showtimeRow1">Timing</div>
                    <div class="col-md-4 showtimeRow1">Adults</div>
                    <div class="col-md-4 showtimeRow1">Kids</div>

                    <div class="col-md-4 showtimeRow2">Timing</div>
                    <div class="col-md-4 showtimeRow2">Adults</div>
                    <div class="col-md-4 showtimeRow2">Kids</div>

                    <div class="col-md-4 showtimeRow1">Timing</div>
                    <div class="col-md-4 showtimeRow1">Adults</div>
                    <div class="col-md-4 showtimeRow1">Kids</div>

                    <div class="col-md-4 showtimeRow2">Timing</div>
                    <div class="col-md-4 showtimeRow2">Adults</div>
                    <div class="col-md-4 showtimeRow2">Kids</div>

                </div>
                <div class="col-md-8">
                    <div class="movieDes">{{displayMovieDetails.infoMovieDescription}}</div>
                    <br>
                    <div class="col-md-4 movieTopic">
                        <div>Rating:</div>
                    </div>
                    <div class="col-md-8 movieDetails">
                        <div>{{displayMovieDetails.infoMovieRated}}</div>
                    </div>

                    <div class="col-md-4 movieTopic">
                        <div>Genre:</div>
                    </div>
                    <div class="col-md-8 movieDetails">
                        <div>{{displayMovieDetails.infoMovieGenre}}</div>
                    </div>

                    <div class="col-md-4 movieTopic">
                        <div>Directed By:</div>
                    </div>
                    <div class="col-md-8 movieDetails">
                        <div>{{displayMovieDetails.infoMovieDirectedBy}}</div>
                    </div>

                    <div class="col-md-4 movieTopic">
                        <div>Written By:</div>
                    </div>
                    <div class="col-md-8 movieDetails">
                        <div>{{displayMovieDetails.infoMovieWrittenBy}}</div>
                    </div>

                    <div class="col-md-4 movieTopic">
                        <div>In Theatres:</div>
                    </div>
                    <div class="col-md-8 movieDetails">
                        <div>{{displayMovieDetails.infoMovieInTheatres}}</div>
                    </div>

                    <div class="col-md-4 movieTopic">
                        <div>Box Office:</div>
                    </div>
                    <div class="col-md-8 movieDetails">
                        <div>{{displayMovieDetails.infoMovieBoxOffice}}</div>
                    </div>

                    <div class="col-md-4 movieTopic">
                        <div>Run Time:</div>
                    </div>
                    <div class="col-md-8 movieDetails">
                        <div>{{displayMovieDetails.infoMovieRuntime}}</div>
                    </div>

                    <div class="col-md-8 movieTopic">
                        <div>{{displayMovieDetails.infoMovieProduction}}:
                            <span><a ng-href={{displayMovieDetails.infoMovieWebsite}}>Official Site</a> </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8"><hr></div>
        </div>
    </div>
    <div class="col-md-4 rightPage" data-ng-model="theMovieDbId" ng-cloak>
        <!--Book tickets , Show trailer, Share on social media-->
        <div class="buttonShadow">
            <button type="button" class="btn btn-default tickTrailerSocial">
                BUY TICKETS
            </button>
        </div>
        <div class="buttonShadow">
            <button type="button" class="btn btn-default tickTrailerSocial">
                SHARE ON
                <a ng-href="http://www.facebook.com">
                    <img class="shareSocial" src="../images/shareOnFacebook.png">
                </a>
                <span>
                    <a ng-href="http://www.twitter.com">
                        <img class="shareSocial" src="../images/shareOnTwitter.png">
                    </a>
                </span>
            </button>
        </div>
        <div class="buttonShadow">
            <button type="button" class="btn btn-default tickTrailerSocial">WATCH TRAILER</button>
        </div>
    </div>
</div>
    <div class="container">
        <div class="col-md-3">
            <div class="col-md-12"><p id="cast">Cast</p></div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-9" data-ng-model="casts">
                <div class="col-md-4 casts" ng-repeat="casts in show6Casts">
                    <div class="col-md-4 castsImage">
                        <img ng-src="{{casts.profile_path}}">
                    </div>
                    <div class="col-md-8">
                        <p>{{casts.name}}</p>
                        <p class="castCharacter">as {{casts.character}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h6 class="ngShowAllText">
                    <a class="cursor4ShowAll" ng-if="ngShowAllText==true" ng-click="showAll(ngShowAllText)" ng-if="ngShowAllText==true">
                        Show More Cast
                        <span class="glyphicon glyphicon-triangle-bottom cursor4ShowAll"></span>
                    </a>
                </h6>
                <h6 class="ngShowAllText">
                    <a class="cursor4ShowAll" ng-if="ngShowAllText==false" ng-click="showAll(ngShowAllText)" ng-if="ngShowAllText==true">
                        Show Less Cast
                        <span class="glyphicon glyphicon-triangle-top cursor4ShowAll"></span>
                    </a>
                </h6>
            </div>
        </div>
        </div>
</div>