<style>
    .movie-showtime {
        display: block;
        padding-left: 15px;
        max-height: 345px;
        overflow-y: scroll;
    }
    .movie-showtime td, th{
        text-align: center;
    }
    .rating {
        height: 30px;
        width: 30px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        border: 2px solid black;
        background: transparent;
    }

    .genre {
        list-style-type: none;
        padding: 0;
    }
    .genre li {
        border: 1px solid black;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 11px;
        font-weight: 400;
        display: inline-block;
        margin: 10px;
    }
    .duration {
        margin-left: 10px;
    }
    .movie-description {
        margin-top: 10px;
    }
    .movie-cast {
        overflow: scroll;
        display: flex;
    }
</style>

<div class="container" ng-cloak>
    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <img ng-src="{{displayMovieDetails.infoMoviePosterPath}}"
                     class="mdImage">

                <div class="basic-details">
                    <p class="rating">{{displayMovieDetails.infoMovieRated}}</p>
                    <ul class="genre">
                        <li ng-repeat="genre in displayMovieDetails.infoMovieGenre">{{genre}}</li>
                    </ul>
                    <p>
                            <span class="release-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                {{displayMovieDetails.infoMovieInTheatres}}
                            </span>
                        <span class="duration">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                {{displayMovieDetails.infoMovieRuntime + ' min'}}
                            </span>
                    </p>
                </div>
                <div ng-show="kidsinmind">
                    <h4>Parents Rating</h4>
                    <!--<div><b>SEX & NUDITY</b></div>-->
                    <div><img class="kim_sex_nudity"
                              ng-src="{{siteConfig.imagePath + displayMovieDetails.s_n}}">
                    </div>
                    <div><img class="kim_violence_gore"
                              ng-src="{{siteConfig.imagePath+displayMovieDetails.v_g}}">
                    </div>
                    <div><img class="kim_profanity"
                              ng-src="{{siteConfig.imagePath+displayMovieDetails.prof}}">
                    </div>
                    <div><img class="kim_one2ten"
                              ng-src="{{siteConfig.imagePath+displayMovieDetails.one_ten}}">
                    </div>
                    <small>All data belongs to <a target="_blank"
                                                  ng-href="{{displayMovieDetails.movieKIM_URL}}">kids-in
                        -mind</a>.We
                        don't own this data.
                    </small>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container">
                <div class="row" data-ng-model="displayTomatoData">
                    <div class="movieTitle"><h1>{{displayTomatoData.movieTitle}}
                        ({{displayMovieDetails.releaseYear}})</h1></div>
                    <div class="rottenTomatoesInfo col-md-12">
                        <div class="col-md-4 scorePanel">
                            <h3>TOMATOMETER</h3>
                            <div class="tomatoMeterText">
                                <img id="tomatoImage"
                                     ng-src="{{siteConfig.imagePath + tomatoMeter.tomatoImage}}">
                                <span class="tomatoMeterPercentage">
                                    {{tomatoMeter.tomatoMeter}}%</span>
                            </div>
                            <br>
                            <div class="tomatoMeterText">Average Rating:
                                <span class="tomatoMeterTextResults">{{tomatoMeter.averageRating}}</span>
                            </div>
                            <div class="tomatoMeterText">Reviews Counted:
                                <span class="tomatoMeterTextResults">{{tomatoMeter.reviewCount}}</span>
                            </div>
                            <div class="tomatoMeterText">Fresh:
                                <span class="tomatoMeterTextResults">{{tomatoMeter.freshCount}}</span>
                            </div>
                            <div class="tomatoMeterText">Rotten:
                                <span class="tomatoMeterTextResults">{{tomatoMeter.rottenCount}}</span>
                            </div>
                        </div>
                        <div class="col-md-4 scorePanel" id="marginRight">
                            <br>
                            <div class="shiftRight">
                                <span class="criticsHead"><a
                                    class="{{allBoldOrNormal}}"
                                    ng-click="click('all')">All Critics</a></span>
                                <span class="criticsHead">|</span>
                                <span class="criticsHead"><a
                                    class="{{topBoldOrNormal}}"
                                    ng-click="click('top')">Top Critics</a></span>
                            </div>
                            <br>
                            <!--Progress Bar-->
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     style="width:0"></div>
                                <div class="progress-bar" role="progressbar"
                                     aria-valuenow="{{tomatoMeter.tomatoMeter}}"
                                     aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{tomatoMeter.tomatoMeter}}%">
                                </div>
                            </div>
                            <p class="criticsConcensus">Critics Consensus:<span
                                class="criticsConcensusInfo">{{tomatoMeter.criticsConsensus}}</span>
                            </p>
                        </div>
                        <div class="col-md-4 scorePanel"
                             ng-model="audienceScore">
                            <h3>AUDIENCE SCORE</h3>
                            <div class="audiencePoint">
                                <img id="audienceImage"
                                     ng-src="{{siteConfig.imagePath + audienceScore.audienceImage}}">
                                <span class="tomatoMeterPercentage">
                                    {{audienceScore.tomatoMeter}}%</span>
                            </div>
                            <br>
                            <div class="tomatoMeterText">Average Rating:
                                <span class="tomatoMeterTextResults">{{audienceScore.averageRating}}</span>
                            </div>
                            <div class="tomatoMeterText">User Rating:
                                <span class="tomatoMeterTextResults">{{audienceScore.ratingCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <small>All data belongs to <a
                    ng-href="{{'https://www.rottentomatoes.com/m/'+displayTomatoData.url}}" target="_blank">Rotten
                    Tomaotes</a>. We don't own this data.</small>
                <div class="row movie-description">
                    <div class="movieDes">
                        {{displayMovieDetails.infoMovieDescription}}
                    </div>
                    <br>
                    <div class="col-md-4 movieTopic">
                        <div>Directed By:</div>
                    </div>
                    <div class="col-md-8 movieDetails">
                        <div>{{displayMovieDetails.infoMovieDirectedBy}}</div>
                    </div>

                    <div class="col-md-4 movieTopic">
                        <div>Written By:</div>
                    </div>
                    <div class="col-md-8 movieDetails">
                        <div>{{displayMovieDetails.infoMovieWrittenBy}}</div>
                    </div>
                    <div class="col-md-4 movieTopic">
                        <div>Box Office:</div>
                    </div>
                    <div class="col-md-8 movieDetails">
                        <div>{{displayMovieDetails.infoMovieBoxOffice}}</div>
                    </div>
                    <div class="col-md-8 movieTopic">
                        <div>{{displayMovieDetails.infoMovieProduction}}:
                            <span><a ng-href={{displayMovieDetails.infoMovieWebsite}}
                                target="_blank">Official Site</a> </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4 class="text-left">Casts</h4>
                    <div class="movie-cast">
                        <div class="casts" ng-repeat="casts in show6Casts">
                            <div class="castsImage">
                                <img ng-src="{{siteConfig.imagePath+casts.profile_path}}">
                                <!--<p>{{casts.name}}</p>-->
                                <!--<p class="castCharacter">as {{casts.character}}</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">

            </div>
        </div>
    </div>
</div>

<div class="row" data-ng-cloak>
    <div class="container">
        <div class="col-md-8" data-ng-model="displayMovieDetails" ng-cloak>
            <!--<p>Hello {{movieTomato}}</p>-->
            <br>
            <div class="container" ng-model="displayMovieDetails">
                <div class="col-md-4">
                    <p id="showtime">Showtimes</p>
                    <table class="table table-responsive movie-showtime">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>View</th>
                                <th>Screen</th>
                            </tr>
                        </thead>
                        <tbody class="showtime-data">
                            <tr ng-repeat="showTime in movieShowTime">
                                <td>{{showTime.movieShowDate}}</td>
                                <td>{{showTime.movieStartTime}}</td>
                                <td>{{showTime.movieType}}</td>
                                <td>{{showTime.movieScreen}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-4 rightPage" data-ng-model="theMovieDbId" ng-cloak>
            <!--Book tickets , Show trailer, Share on social media-->
            <div class="buttonShadow">
                <button type="button" class="btn btn-default tickTrailerSocial"
                        ng-show="displayMovieDetails.infoMovieBuyTicketsButton">
                    BUY TICKETS
                </button>
            </div>
            <div class="buttonShadow">
                <button type="button" class="btn btn-default tickTrailerSocial">
                    SHARE ON
                    <a ng-href="http://www.facebook.com">
                        <img class="shareSocial"
                             ng-src="{{siteConfig.localImagePath + '/images/shareOnFacebook.png'}}">
                    </a>
                    <span>
                    <a ng-href="http://www.twitter.com">
                        <img class="shareSocial"
                             ng-src="{{siteConfig.localImagePath+'/images/shareOnTwitter.png'}}">
                    </a>
                </span>
                </button>
            </div>
            <div class="buttonShadow">
                <button type="button" class="btn btn-default tickTrailerSocial"
                        data-toggle="modal" data-target="#myModal">WATCH TRAILER
                </button>
            </div>
            <!--Comments-->
            <div class="comments-section" ng-if="false">
                <div class="actionBox">
                    <ul class="commentList">
                        <li ng-repeat="comment in getCommentss">
                            <div class="commenterImage">
                                <img ng-src="{{comment.movieUserFBProfileImage}}">
                            </div>
                            <div class="commentText">
                                <p class="">{{::comment.m_c_comment}}</p> <span
                                class="date sub-text">on {{::epoch_to_datetime(comment.m_c_current_time)}}</span>&nbsp;&nbsp;
                                <span class="pull-right" uib-rating
                                      ng-model="comment.m_c_star_rating" max="5"
                                      read-only="true"
                                      aria-labelledby="default-rating"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="comments" id="comment_section">
                    <h4 class="pull-left" id="comment_as">Comment As:-
                        {{UserName}}</h4>
                    <div class="comment_textarea"><textarea
                        data-ng-model="user_comments" class="form-control" rows="4"
                        cols="50" name="comment"></textarea></div>
                    <div class="star_rating_n_post">
                    <span uib-rating ng-model="star_rating" max="5"
                          read-only="false" on-hover="hoveringOver(value)"
                          on-leave="overStar = null"
                          titles="['one','two','three']"
                          aria-labelledby="default-rating"></span>
                        <span><button type="button" ng-click="postComments()"
                                      class="btn bg-primary"> Post </button></span>
                    </div>
                </div>
            </div>

            <!--End Comments-->
        </div>
    </div>
    <div class="container">
        <div class="col-md-3">
            <div class="col-md-12"><p id="cast">Cast</p></div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12" data-ng-model="casts">
                <div class="col-md-3 casts" ng-repeat="casts in show6Casts">
                    <div class="col-md-4 castsImage">
                        <img
                            ng-src="{{siteConfig.imagePath+casts.profile_path}}">
                    </div>
                    <div class="col-md-8">
                        <p>{{casts.name}}</p>
                        <p class="castCharacter">as {{casts.character}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h6 class="ngShowAllText">
                    <a class="cursor4ShowAll" ng-if="ngShowAllText==true"
                       ng-click="showAll(ngShowAllText)"
                       ng-if="ngShowAllText==true">
                        Show More Cast
                        <span
                            class="glyphicon glyphicon-triangle-bottom cursor4ShowAll"></span>
                    </a>
                </h6>
                <h6 class="ngShowAllText">
                    <a class="cursor4ShowAll" ng-if="ngShowAllText==false"
                       ng-click="showAll(ngShowAllText)"
                       ng-if="ngShowAllText==true">
                        Show Less Cast
                        <span
                            class="glyphicon glyphicon-triangle-top cursor4ShowAll"></span>
                    </a>
                </h6>
            </div>
        </div>
    </div>
</div>
<!--<div class="parent">-->

    <!--<div class="container">-->
        <!--<img class="e" width="640" height="220" ng-src="{{displayMovieDetails.infoMovieBackdropPath}}">-->
    <!--</div>-->
<!--</div>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true"
     data-ng-model="displayTomatoData">

    <div class="modal-dialog">
        <div class="moveCrossRight">
            <span data-dismiss="modal"
                  class="glyphicon glyphicon-remove-circle lightGray"></span>
            <!--<a data-dismiss="modal"><img clss="modalClose" src="../images/modalClose.png"></a>-->
        </div>
        <div class="modal-content" id="yt-player">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        ng-src="{{trustSrc(displayTomatoData.movieTitle)}}"
                        allowfullscreen="true" webkitallowfullscreen="true"
                        mozallowfullscreen="true" scrolling="no"></iframe>
                <!--<iframe width="854" height="480" src="https://www.youtube.com/watch?v=jWM0ct-OLsM" frameborder="0" allowfullscreen></iframe>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

