<!--<div class="modal-header">-->
  <!--<h3>You're Idle. Do Something!</h3>-->
<!--</div>-->
<!--<div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">-->
  <!--<progressbar max="5" value="5" animate="false" class="progress-striped active">-->
    <!--You'll be logged out in {{countdown}} second(s).-->
  <!--</progressbar>-->
<!--</div>-->

<div class="modal-header">
  <h3>You're Idle. Do Something!</h3>
</div>
<div class="modal-body" idle-countdown="countdown" ng-init="countdown=5">
  <p>You'll be logged out in <span class="label label-warning">{{countdown}}</span>
  <span ng-pluralize="" count="countdown" when="{'one': 'second', 'other': 'seconds' }"></span>.</p>
  <progress max="5" value="countdown" class="progress-bar progress-striped active" type="warning"></progress>
</div>
